**/.idea
**/__pycache__
**/logs
projects/microblog/.coverage
projects/microblog/.env
projects/microblog/.hidden
projects/microblog/htmlcov/
projects/microblog/index.lokalize
projects/microblog/lokalize-scripts/
projects/microblog/main.lqa
projects/microblog/venv/