<div class="parts__post">
	<div class="parts__post-avatar">
		<img class="parts__post-avatar-image" src="{{ post.get_author_avatar(64) }}"
			 alt="{{ post.get_author() }}`s avatar">

		<p></p>
	</div>

	<h3 class="parts__post-title">{{ post.title }}</h3>

	<p class="parts__post-message">{{ post.message }}</p>

	<span class="parts__post-author">
		<a class="parts__post-author-link" href="/user/{{ post.get_author() }}">{{ _("by") }} {{ post.get_author() }}</a>
	</span>

	<span class="parts__post-date">{{ moment( post.datetime_add ).fromNow() }}</span>
</div>
