<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ info.title }} - MicroBlog</title>

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/global.css' ) }}">

		{% block links %}{% endblock %}
	</head>

	<body class="global__body">
		<header class="global__header">
			<h1 class="global__header-logo">MicroBlog</h1>

			<nav class="global__nav">
				<a class="global__nav-link" href="/index">home</a>
				<a class="global__nav-link" href="/login">login</a>

				|

				<a class="global__nav-link" href="/info">info</a>
				<a class="global__nav-link" href="/test">test</a>
				<a class="global__nav-link" href="/user/1">about me</a>
			</nav>

			<span class="global__header-delimiter"></span>

			<span class="global__header-user">{{ user.name }}</span>
		</header>

		<hr>

		<main class="global__main">
			{% block content %}{% endblock %}
		</main>

		<hr>

		<footer class="global__footer">
			<p>MicroBlog by SI<p>
			<p>2021</p>
		</footer>
	</body>
</html>

