<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ info.title }} - MicroBlog</title>

		<link rel="icon" href="{{ url_for( 'static', filename = 'favicon.ico' ) }}" type="image/x-icon">

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/global.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/highlight.min.css' ) }}">

		{% block links %}{% endblock %}
	</head>

	<body class="global__body">
		<header class="global__header">
			<h1 class="global__header-logo">MicroBlog</h1>

			<nav class="global__nav">
				<a class="global__nav-link" href="{{ url_for("index") }}">home</a>

				{% if current_user.is_authenticated %}
					<a class="global__nav-link" href="{{ url_for("logout") }}">logout</a>
				{% else %}
					<a class="global__nav-link" href="{{ url_for("login")    }}">login</a>
					<a class="global__nav-link" href="{{ url_for("register") }}">register</a>
				{% endif %}

				|

				<a class="global__nav-link" href="/info">info</a>
				<a class="global__nav-link" href="/test">test</a>
				<a class="global__nav-link" href="/user/1">about me</a>
			</nav>

			<span class="global__header-delimiter">|</span>

			<span class="global__header-user">{{ current_user.name }}</span>
		</header>

		<hr>

		<main class="global__main">
			{% block content %}{% endblock %}
		</main>

		{% with flashes = get_flashed_messages() %}
		{% if flashes %}

		<hr>

		<div class="global__flash">
			<h2>Уведомления для вас:</h2>

			<ul>
				{% for flash in flashes %}
				<li class="info">{{ flash }}</li>
				{% endfor %}
			</ul>
		</div>

		{% endif %}
		{% endwith %}

		<hr>

		<footer class="global__footer">
			<p>MicroBlog by SI<p>
			<p>2021</p>
		</footer>
	</body>
</html>

