{% extends "base.html" %}


{% block links %}

	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/page/index.css' ) }}">

{% endblock %}


{% block content %}

	<h2>Представленные статьи:</h2>

	{% for post in posts %}

		<div class="global__post">
			<h3 class="global__post-title">{{ post.title }}</h3>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque debitis delectus dolore earum et iste
				laborum molestiae molestias, nisi odio odit perferendis quod saepe sapiente similique sint sit, ullam.
			</p>

			<span class="global__post-author">by {{ post.author }}</span>
		</div>

	{% endfor %}

{% endblock %}
