{% extends "base.html" %}


{% block links %}

	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/form.min.css' ) }}">

{% endblock %}


{% block content %}

    <h2>{{ _("Reset Password Request") }}</h2>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32, maxlength=64, placeholder=_("Email...") ) }}

			{% for error in form.email.errors %}
            	<span class="check error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}
